// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(3, fr);
  }
  // ----- Work ----- //
  #bg-work {
  background: url(../img/background-fire.gif);
  background-size: cover;
}
.projects {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  justify-items: stretch;
  padding-right: 1.5%;
  padding-left: 1.5%;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    overflow: hidden;
    max-width: 100vh;
    max-height: 65vh;
    &:hover {
      &.sm {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) scale(1.2);
        @include easeOut;
      }
      &.lg {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) translateX(-3rem) scale(1.2);
        @include easeOut;
      }
    }
    
    &.zoom {
      &.sm {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) scale(1.2); // slide to right and scale
        @include easeOut;
      }
      &.lg {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) translateX(-3rem) scale(1.2); // slide to left and scale
        @include easeOut;
      }
    }
  }
}
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, fr);
  }
  // ---- work ----- //
  #bg-work {
  background: url(../img/background-fire.gif);
  background-size: cover;
}
.projects {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  justify-items: stretch;
  padding-right: 1.5%;
  padding-left: 1.5%;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    overflow: hidden;
    max-width: 100vh;
    max-height: 65vh;
    &:hover {
      &.sm {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) scale(1.2);
        @include easeOut;
      }
      &.lg {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) translateX(-3rem) scale(1.2);
        @include easeOut;
      }
    }
    
    &.zoom {
      &.sm {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) scale(1.2); // slide to right and scale
        @include easeOut;
      }
      &.lg {
        border: 3px #fff solid;
        border-color: $secondary-color;
        transform: translateY(-6vh) translateX(-3rem) scale(1.2); // slide to left and scale
        @include easeOut;
      }
    }
  }
}
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 190px;
      height: 190px;
    }
  }

  .about-info {
    grid-template-areas: 
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';
    
    grid-template-columns: 1fr;
  }
  
  .projects {
    grid-template-columns: repeat(2, fr);
  }

  .contact {
    .lg-heading {
      font-size: 2rem;
    }
  }
  .boxes {
    div {
      padding: 0.1rem 0.5rem;
      max-height: 20vh;
      max-width: 25rem;
      align-items: center;
      justify-content: center;
      font-size: 20px;

        &:hover {
          padding: 0.1rem 0.7rem;
        }
    }
    .text-secondary {
      font-size: 2rem;
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  main {
    .lg-heading {
      font-size: 4rem;
    }

    .sm-heading {
      font-size: 1rem;
    }
  }

  // About Me
  .bio {
    p {
      font-size: 1rem;
    }
  }

  .btn-light {
    display: none;
  }
}